body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.player {
    margin: 10px 0;
}

.playerData, .playerHand {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.playerData {
    font-size: 1.2em;
}

.playerHand {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}